<ul class="list-group">
  <div class="mb-3">
    <label style="font-size: 1.3rem;" for="filterText" class="form-label">Renk Ara</label>
    <input [(ngModel)]="filterText" type="text" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-primary">
    {{filterText}} aradınız
  </div>
  <li class="list-group-item dark-blue" aria-current="true">Renkler</li>
  <li
    (click)="clearCurrentColor()"
    [class]="getAllColorClass()"
    routerLink="/cars">Tüm Renkler</li>
    <li
    routerLink="/cars/color/{{color.id}}" 
    (click)="getCurrentColor(color)" 
    [class]="getCurrentColorClass(color)" 
    *ngFor="let color of colors |colorFilter:filterText">{{color.colorName}}</li>
</ul>
<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
