<div class="footer">
    <div class="row">
        <div class="pages col-md-3">
            <ul>
                <li class="fs-5"><strong>Sayfalar</strong></li>
                <hr class="dropdown-divider">
                <li><a routerLink="">Ana Sayfa</a></li>
                <li><a routerLink="cars">Arabalar</a></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
        <div class="contact col-md-4">
            <ul>
                <li class="fs-5"><strong>İletişim</strong></li>
                <hr class="dropdown-divider">
                <li>Deniz Bilgin</li>
                <li>C: 0526 924 14 92</li>
                <li>M: deniz@deniz.com</li>
            </ul>
        </div>
        <div class="social col-md-4">
            <ul>
                <li class="fs-5"><strong>Sosyal Medya</strong></li>
                <hr class="dropdown-divider">
                <li style="margin-left: 42px;"><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-github"></i></li>
            </ul>
        </div>
    </div>
</div>
