.card-header{
    background-color: #045f7a;
    color: white;
}

.mybtn{
    border-radius: 6px;
    color: whitesmoke;
    height: 100%;
    background-color: #024f66;
    border: none;
}
.mybtn:hover{
    border-radius: 6px;
    background-color: #0090c1;
}