<div class="content" style="height: 100%;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-primary mybtn" routerLink="/admin">Geri</button>
                    </div>
                    <div class="col-md-11" style="position: relative; right: 50px;">
                        <h5>Marka Ekle</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="brandAddForm">
                    <div class="brandName-Add mb-3">
                        <div>
                            <label class="mb-3" for="brandName">Marka Adı :</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="brandName" formControlName="brandName" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button style="width: 100%;" class="btn btn-fill btn-primary mybtn" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>
