<div class="car-header">
    Araba Detayları
</div>
<ul>
    <li *ngFor="let image of carImages">
        <img
         src="https://localhost:44373/images/{{image.imagePath}}" alt="asdasd">
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item">Araba Numarası : {{car.carId}}</li>
    <li class="list-group-item">Markası : {{car.brandName}}</li>
    <li class="list-group-item">Rengi : {{car.colorName}}</li>
    <li class="list-group-item">Model Yılı : {{car.modelYear}}</li>
    <li class="list-group-item">Günlük Ücreti : {{car.dailyPrice}} TL</li>
    <li class="list-group-item">Açıklaması : {{car.description}}</li>
  </ul>
