<div style="height: 400px;">
    <caption>Admin Paneli</caption>
    <div class="row" style="position: relative; left: 12px;">
        <div class="card col-md-4 myShadow">
            <div class="card-header">
                <h2>Araba Ekle:</h2>
            </div>
            <div class="card-body">
                <div class="car-add text-center">
                    <button class="btn btn-primary mybtn" routerLink="/cars/add">Araba Ekle</button>
                </div>
            </div>
        </div>
        <div class="card col-md-4 myShadow">
            <div class="card-header">
                <h2>Marka Ekle:</h2> 
            </div>
            <div class="card-body">
                <div class="brand-add text-center">
                    <button class="btn btn-primary mybtn" routerLink="/brand/add">Marka Ekle</button>
                </div>
            </div>
        </div>
        <div class="card col-md-3 myShadow">
            <div class="card-header">
                <h2>Renk Ekle:</h2>
            </div>
            <div class="card-body">
                <div class="color-add text-center">
                    <button class="btn btn-primary mybtn" routerLink="/color/add">Renk Ekle</button>
                </div>
            </div>
        </div>
    </div>
</div>