<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
<body>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="https://www.revv.co.in/assets/RentalImages/HomeScreen/heroMobCarousel/xST_Home_Banner,P201_Mweb.jpg.pagespeed.ic.fXHFfWSpKe.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <img src="http://www.mobicoo.com/rsmlr/firma/tayfun/upload-tema/sakaryaotokiralama.com/makina-tema/versiyon-1/ana-sayfa/vary1/sakarya-tayfun-arac-kiralama-1.jpg" alt="">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Güvenle Kiralayın</h1>
                <p>Sadece bilgileri doldurun, güvenliğiniz bize emanet.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/register">Şimdi Kaydolun</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <img src="https://www.sixt.com.tr/upload/images/home_banner_tr.jpg" width="100%" alt="">
            <div class="container" style="position: relative; top: 30px;">
              <div class="carousel-caption">
                <h1>Bu Aya Özel Araçlarda %30 indirim!</h1>
                <p>Hemen kiralayın ve tasarruf edin.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login">Giriş Yapın</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <img style="width: 100%;" src="https://felixotokiralama.com/assets/images/main-slider-05.webp" alt="">
            <div class="container" style="position: relative; top: 30px; left: 30px;">
              <div  class="carousel-caption text-end">
                <h1>Kiralık araç mı arıyorsunuz?</h1>
                <p>Hızlı, kolay ve güvenilir araç kiralama imkanı.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/cars">Tüm Arabalar</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container marketing">
        <div style="text-align: center;">
            <h1>Kiralamak İçin Ne Yapmalısınız?</h1>
        </div>
        <hr>
        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-4">
              <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRkAqIEloC8FsS4KC7X_XRlTPzU0H4woB_Q&usqp=CAU" alt="">
            <h2>Favori Arabanızı Seçin</h2>
            <p>Filtreleme imkanı ile hayalinizdeki arabayı bulun.</p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtCu7088WlYB42NSINeGbKAsIqHy8wiKGF_g&usqp=CAU" alt="">
            <h2>Kiralayacağınız Tarihi Seçin</h2>
            <p>Kiralayacağınız tarihleri seçin ve ödemenizi yapın.</p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5_a0HmmBnBQkgMFYc4dvHvfdJEiaYmR5UDQ&usqp=CAU" alt="">
            <h2>Arabanıza Kavuşun</h2>
            <p>Keyifli sürüşler dileriz.</p>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Aradığınız aracı rahatlıkla bulabilirsiniz.</h2>
            <p class="lead">Çok para harcamadan istediğiniz arabaya kolaylıkla sahip olabilirsiniz.</p>
          </div>
          <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600" src="https://img.freepik.com/free-vector/transport-renting-website-automobile-buying-man-searching-used-auto-internet_335657-2496.jpg?size=626&ext=jpg" alt="">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Tatilde arabaya mı ihtiyacınız var?</h2>
            <p class="lead">Kiraladığınız aracı ayağınıza kadar getirip size teslim ederiz.</p>
            <span class="text-muted">Mutlu sürüşler dileriz!</span>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAuHSYG0bPK9CcezsnaLtqFSJuwyUFjdxw2g&usqp=CAU" alt="">
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Ve son olarak, müşteri memnuniyeti</h2>
            <p class="lead">Temiz ve güvenilir kiralama olanağı ile mutluluğunuzu en yüksek seviyede tutmaya odaklanıyoruz.</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="http://unblast.com/wp-content/uploads/2020/09/Car-Rent-Vector-Illustration.jpg" alt="">
          </div>
        </div>
      </div>
    </main>  
</body>
