caption{
    background-color: #0D4BFD;
    color: white;
    display: block;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
button{
    display: inline-block;
    margin-top: 10px;
}

.customers{
    margin-bottom: 20px;
}