<div class="container">
  <div class="row">
    <div class="col-md-3">
      <br />
      <app-color></app-color>
      <br />
      <app-brand></app-brand>
      <br />
    </div>
    <div class="col-md-9">
      <caption>
        Arabalar
      </caption>
      <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mb-3">
        <!-- <label for="filterText" class="form-label">Araba ara</label> -->
        <input
          [(ngModel)]="filterText"
          type="text"
          class="form-control"
          id="filterText"
          placeholder="Araba için arama ifadesi giriniz"
        />
      </div>
      <div *ngIf="filterText.length > 2" class="alert alert-primary">
        {{ filterText }} aradınız
      </div>
      <app-car-filter></app-car-filter>
      <div class="row mb-3 mt-2" *ngIf="dataLoaded == true">
        <div
          *ngFor="let car of cars | carFilterPipe: filterText"
          class="card"
          style="width: 16rem; border-radius: 11px;"
        >
          <div>
            <img
              class="card-img-top"
              *ngIf="car.imagePath == null"
              src="{{ carImageDefault }}"
              alt="{{ car.carId }}"
              style="width: 100%;"
            />
            <img
              class="card-img-top"
              *ngIf="car.imagePath != null"
              src="{{ apiUrl + car.imagePath }}"
              alt="{{ car.carId }}"
              style="width: 100%"
            />
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Marka: {{ car.brandName }}</li>
              <li class="list-group-item">Model Yılı: {{ car.modelYear }}</li>
              <li class="list-group-item">
                Günlük Fiyatı: {{ car.dailyPrice | currency }}
              </li>
            </ul>
            <section style="float: left">
              <button
                routerLink="/cars/cardetail/{{ car.carId }}"
                type="button"
                class="btn btn-primary mt-2 mybtn"
              >
                Detaylar
              </button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
