caption{
    background-color: #045f7a;
    color: white;
    display: block;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
    margin-bottom: 1rem;
    margin-top: 2rem;
}

img{
    margin-top: 1rem;
    border-radius: 4px;
}

.card{
    margin: 6px;
    border-color: #EBEBEB;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.mybtn{
    border-radius: 6px;
    color: whitesmoke;
    height: 100%;
    background-color: #046e8f;
    border: none;
}
.mybtn:hover{
    border-radius: 6px;
    background-color: #0090c1;
}

.min-findex{
    opacity: 0.5;
}

.search{
    background-color: white;
    text-align: center;
    margin-left: 0;
    padding-top: 5px;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

section{
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 7px;
    left: 0.6px;
}

.card:hover{
    transform: scale(1.04);
    transition: 1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}