/* You can add global styles to this file, and also import other style files */
body{
    background-color: #EBEBEB;
}

html{
    margin-bottom: 0;
    padding-bottom: 0;
}

.myShadow{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
